// 3363 - for some reason, having an @use gives "undefined mixin" error below
// see comments here https://stackoverflow.com/questions/66365150/when-importing-a-file-with-use-then-error-undefined-mixin
@use '../../../node_modules/nhsuk-frontend/packages/core/generic/font-face';
@use '../../../node_modules/nhsuk-frontend/packages/core/settings/all' as settings;
// @use '../../../node_modules/nhsuk-frontend/packages/core/generic/font-face' as *;

// https://stackoverflow.com/questions/66365150/when-importing-a-file-with-use-then-error-undefined-mixin





/* ==========================================================================
   #TAG
   ========================================================================== */;

.nhsuk-tag {
  // 3363 - look at this next
  // @include _nhsuk-font($size: 16, $weight: bold, $line-height: 1);
  // @include _nhsuk-font-face-frutiger();
  background-color: shade(settings.$color_nhsuk-blue, 10%);
  color: settings.$color_nhsuk-white;
  display: inline-block;
  letter-spacing: 1px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  padding: nhsuk-spacing(1) nhsuk-spacing(2);
  text-decoration: none;
  width: fit-content;
  text-transform: uppercase;

  &--white {
    background-color: settings.$color_nhsuk-white;
    border: 1px solid settings.$color_nhsuk-black;
    color: settings.$color_nhsuk-black;
  }

  &--grey {
    background-color: tint(settings.$color_nhsuk-grey-1, 80%);
    color: shade(settings.$color_nhsuk-grey-1, 30%);
  }

  &--green {
    background-color: tint(settings.$color_nhsuk-green, 80%);
    color: shade(settings.$color_nhsuk-green, 40%);
  }

  &--aqua-green {
    background-color: tint(settings.$color_nhsuk-aqua-green, 80%);
    color: shade(settings.$color_nhsuk-aqua-green, 50%);
  }

  &--blue {
    background-color: tint(settings.$color_nhsuk-blue, 80%);
    color: shade(settings.$color_nhsuk-blue, 30%);
  }

  &--purple {
    background-color: tint(settings.$color_nhsuk-purple, 80%);
    color: shade(settings.$color_nhsuk-purple, 30%);
  }

  &--pink {
    background-color: tint(settings.$color_nhsuk-pink, 80%);
    color: shade(settings.$color_nhsuk-pink, 50%);
  }

  &--red {
    background-color: tint(settings.$color_nhsuk-red, 80%);
    color: shade(settings.$color_nhsuk-red, 50%);
  }

  &--orange {
    background-color: tint(settings.$color_nhsuk-warm-yellow, 50%);
    color: shade(settings.$color_nhsuk-warm-yellow, 70%);
  }

  &--yellow {
    background-color: tint(settings.$color_nhsuk-yellow, 50%);
    color: shade(settings.$color_nhsuk-yellow, 70%);
  }
}
