@import '../../styles/variables';

/* ==========================================================================
   #TAG
   ========================================================================== */

.nhsuk-tag {
  @include nhsuk-font($size: 16, $weight: bold, $line-height: 1);
  background-color: shade($color_nhsuk-blue, 10%);
  color: $color_nhsuk-white;
  display: inline-block;
  letter-spacing: 1px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  padding: nhsuk-spacing(1) nhsuk-spacing(2);
  text-decoration: none;
  width: fit-content;
  text-transform: uppercase;

  &--white {
    background-color: $color_nhsuk-white;
    border: 1px solid $color_nhsuk-black;
    color: $color_nhsuk-black;
  }

  &--grey {
    background-color: tint($color_nhsuk-grey-1, 80%);
    color: shade($color_nhsuk-grey-1, 30%);
  }

  &--green {
    background-color: tint($color_nhsuk-green, 80%);
    color: shade($color_nhsuk-green, 40%);
  }

  &--aqua-green {
    background-color: tint($color_nhsuk-aqua-green, 80%);
    color: shade($color_nhsuk-aqua-green, 50%);
  }

  &--blue {
    background-color: tint($color_nhsuk-blue, 80%);
    color: shade($color_nhsuk-blue, 30%);
  }

  &--purple {
    background-color: tint($color_nhsuk-purple, 80%);
    color: shade($color_nhsuk-purple, 30%);
  }

  &--pink {
    background-color: tint($color_nhsuk-pink, 80%);
    color: shade($color_nhsuk-pink, 50%);
  }

  &--red {
    background-color: tint($color_nhsuk-red, 80%);
    color: shade($color_nhsuk-red, 50%);
  }

  &--orange {
    background-color: tint($color_nhsuk-warm-yellow, 50%);
    color: shade($color_nhsuk-warm-yellow, 70%);
  }

  &--yellow {
    background-color: tint($color_nhsuk-yellow, 50%);
    color: shade($color_nhsuk-yellow, 70%);
  }
}
