{
  "presets": ["@babel/env", "@babel/typescript", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-numeric-separator",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ],
  "ignore": ["**/__tests__/*", "*/__mocks__/*", "*/setupTests.ts"]
}
