@use 'sass:color';
@use '../../../node_modules/nhsuk-frontend/dist/nhsuk/core/settings' as *;
@use '../../../node_modules/nhsuk-frontend/dist/nhsuk/core/helpers/colour' as *;
@use '../../../node_modules/nhsuk-frontend/dist/nhsuk/core' as *;

.nhsuk-ribbon-link {

  @include nhsuk-responsive-padding(2, 'top');
  @include nhsuk-responsive-padding(2, 'bottom');
  @include nhsuk-responsive-padding(2, 'left');
  @include nhsuk-responsive-padding(2, 'right');
  @include nhsuk-font-size(22);

  display: flex;
  cursor: pointer;
  font-weight: $nhsuk-font-bold;
  align-items: center;
  justify-content: flex-start;
  border: 0;
  border-bottom: 4px solid;
  width: 100%;
  border-radius: 4px;
  outline: none !important;

  &:hover,
  &:active,
  &:focus {
    outline: none !important;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
    margin-top: 4px;
    border-bottom: 0;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &__icon {
    @include nhsuk-responsive-margin(1, 'left');
    @include nhsuk-responsive-margin(2, 'right');
  }

  &--cool {
    border-bottom-color: nhsuk-colour('blue');
    background-color: nhsuk-colour('white');
    color: nhsuk-colour('blue');

    > svg {
      fill: nhsuk-colour('blue');
    }

    &:hover {
      background-color: color.adjust(nhsuk-colour('white'), $lightness: -5%);
      color: nhsuk-colour('purple');
    }

    &:focus {
      background-color: nhsuk-colour('yellow');
      color: nhsuk-colour('black');
      border-bottom-color: nhsuk-colour('black');

      > svg {
        fill: nhsuk-colour('black');
      }
    }

    &:active {
      color: nhsuk-colour('white');
      border-bottom-color: color.adjust(nhsuk-colour('blue'), $lightness: -10%);
      border-left-color: color.adjust(nhsuk-colour('blue'), $lightness: -10%);

      > svg {
        fill: nhsuk-colour('white');
        margin-left: none;
      }
    }
  }

  &--mild {
    border-bottom-color: color.adjust(nhsuk-colour('warm-yellow'), $lightness: -10%);
    background-color: nhsuk-colour('warm-yellow');
    color: nhsuk-colour('black');

    > svg {
      fill: nhsuk-colour('black');
    }

    &:hover {
      background-color: nhsuk-colour('blue');
      color: nhsuk-colour('white');
      border-bottom-color: nhsuk-shade(nhsuk-colour('blue'), 20%);

      > svg {
        fill: nhsuk-colour('white');
      }
    }

    &:focus {
      background-color: nhsuk-shade(nhsuk-colour('blue'), 20%);
      color: nhsuk-colour('white');
      border-bottom-color: nhsuk-shade(nhsuk-colour('blue'), 35%);

      > svg {
        fill: nhsuk-colour('white');
      }
    }

    &:active {
      background-color: nhsuk-shade(nhsuk-colour('blue'), 20%);
      color: nhsuk-colour('white');
      border-bottom-color: nhsuk-shade(nhsuk-colour('blue'), 35%);

      > svg {
        fill: nhsuk-colour('white');
      }
    }
  }

  &--hot {
    border-bottom-color: color.adjust(nhsuk-colour('red'), $lightness: -10%);
    background-color: nhsuk-colour('red');
    color: nhsuk-colour('white');

    > svg {
      fill: nhsuk-colour('white');
    }

    &:hover {
      background-color: color.adjust(nhsuk-colour('red'), $lightness: -5%);

      > svg {
        fill: nhsuk-colour('white');
      }
    }

    &:focus {
      background-color: nhsuk-colour('yellow');
      color: nhsuk-colour('black');
      border-bottom-color: nhsuk-colour('black');

      > svg {
        fill: nhsuk-colour('black');
      }
    }

    &:active {
      background-color: color.adjust(nhsuk-colour('red'), $lightness: -10%);
      color: nhsuk-colour('white');
      border-bottom-color: nhsuk-shade(nhsuk-colour('blue'), 35%);

      > svg {
        fill: nhsuk-colour('white');
      }
    }
  }

  &__bar {
    display: flex;
    justify-content: space-between;

    .nhsuk-ribbon-link {
      @include nhsuk-responsive-margin(3, 'right');

      &:last-of-type {
        @include nhsuk-responsive-margin(0, 'right');
      }
    }
  }
}
