// Settings
@import './variables';

// Tools
@import '~nhsuk-frontend/packages/core/tools/all';

// Generic
@import '~nhsuk-frontend/packages/core/generic/box-sizing';
@import '~nhsuk-frontend/packages/core/generic/font-face';
@import '~nhsuk-frontend/packages/core/generic/ie';

// Elements
@import '~nhsuk-frontend/packages/core/elements/forms';
@import '~nhsuk-frontend/packages/core/elements/links';
@import '~nhsuk-frontend/packages/core/elements/page';
@import '~nhsuk-frontend/packages/core/elements/table';

// Objects
@import '~nhsuk-frontend/packages/core/objects/form-group';
@import '~nhsuk-frontend/packages/core/objects/grid';
@import '~nhsuk-frontend/packages/core/objects/main-wrapper';
@import '~nhsuk-frontend/packages/core/objects/width-container';

// Styles
@import '~nhsuk-frontend/packages/core/styles/icons';
@import '~nhsuk-frontend/packages/core/styles/lists';
@import '~nhsuk-frontend/packages/core/styles/section-break';
@import '~nhsuk-frontend/packages/core/styles/typography';

// Utilities
@import '~nhsuk-frontend/packages/core/utilities/clearfix';
@import '~nhsuk-frontend/packages/core/utilities/grid-widths';
@import '~nhsuk-frontend/packages/core/utilities/link-nowrap';
@import '~nhsuk-frontend/packages/core/utilities/reading-width';
@import '~nhsuk-frontend/packages/core/utilities/spacing';
@import '~nhsuk-frontend/packages/core/utilities/typography';
@import '~nhsuk-frontend/packages/core/utilities/visually-hidden';
@import '~nhsuk-frontend/packages/core/utilities/widths';
