$nhsuk-tab-border-width: 1px !default;

%nhsuk-tab-spacing {
    @include nhsuk-responsive-margin(3, "top");
    @include nhsuk-responsive-padding(3, "top");
    @include nhsuk-responsive-padding(3, "bottom");
}

.nhsuk-tab-set {
    @include nhsuk-typography-responsive(19);

    border: $nhsuk-tab-border-width solid $color_nhsuk-white; //invisible
    border-bottom: $nhsuk-tab-border-width solid $nhsuk-border-color;
    background-color: $color_nhsuk-white;
    max-width: 100%;
    color: $nhsuk-secondary-text-color;
}

.nhsuk-tab-set__tab {
    @extend %nhsuk-tab-spacing;

    border: $nhsuk-tab-border-width solid $color_nhsuk-white; //invisible
    text-align: center;
    color: $nhsuk-secondary-text-color;

    &:hover {
        margin-bottom: 1px !important; // sass-lint:disable-line no-important
        border: $nhsuk-tab-border-width solid $nhsuk-border-color;
        border-bottom: 1px transparent;
        cursor: pointer !important; // sass-lint:disable-line no-important
        text-decoration: underline;
        color: $nhsuk-link-color;
    }
}

.nhsuk-tab-set__tab--active {
    @extend %nhsuk-tab-spacing;

    margin-bottom: -1px !important; // sass-lint:disable-line no-important
    border: $nhsuk-tab-border-width solid $nhsuk-border-color;
    border-bottom: 0;
    background-color: $color_nhsuk-grey-5;
    text-align: center;
    color: $nhsuk-link-color;
}

.nhsuk-tab-set__tab--disabled {
    @extend %nhsuk-tab-spacing;

    border-bottom: 0;
    background-color: $color_nhsuk-white;
    cursor: not-allowed;
    text-align: center;
    text-decoration: line-through;
    color: $color_nhsuk-grey-3;
}

.nhsuk-tab-set__tab--empty {
    @extend %nhsuk-tab-spacing;
    flex-grow: 0 !important; // sass-lint:disable-line no-important
}
