@import '../../styles/variables';

.nhsuk-timeline {
  overflow: hidden;
  position: relative;
}

.nhsuk-timeline:before {
  background-color: $color_nhsuk-blue;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 10px;
  width: 5px;
}

.nhsuk-timeline--full {
  margin-bottom: 0;
}

.nhsuk-timeline--full:before {
  height: calc(100% - 75px);
}

.nhsuk-timeline__event {
  @include nhsuk-responsive-padding(5, 'bottom');
  @include nhsuk-responsive-padding(4, 'left');
  position: relative;
}

.nhsuk-timeline__event:before {
  background-color: $color_nhsuk-blue;
  content: '';
  height: 5px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 15px;
}

.nhsuk-timeline__title {
  @include nhsuk-typography-responsive(19);
  display: inline;
}

.nhsuk-timeline__by {
  @include nhsuk-typography-responsive(19);
  color: $color_nhsuk-grey-2;
  display: inline;
  margin: 0;
}

.nhsuk-timeline__date {
  @include nhsuk-typography-responsive(16);
  @include nhsuk-responsive-margin(1, 'top');
  margin-bottom: 0;
  color: $color_nhsuk-grey-1;
}

.nhsuk-timeline__description-item {
  @include nhsuk-typography-responsive(16);
  margin-bottom: 0;
}
