@use '../../../node_modules/nhsuk-frontend/dist/nhsuk/core/helpers/colour' as *;

.nhsuk-tooltip {
  display: inline-block;
  position: relative;

  &:hover &__text {
    visibility: visible;
  }

  &__text {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom: 2px;
    visibility: hidden;
    z-index: 1000;
    margin-left: -100px;
    border-radius: 4px;
    background-color: nhsuk-colour('black');
    padding: 5px;
    width: 200px;
    text-align: center;
    color: nhsuk-colour('white');

    &::after {
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: nhsuk-colour('black') transparent transparent transparent; // sass-lint:disable-line variable-name-format
      content: ' ';
    }
  }
}
