@import '../../styles/variables';

.nhsuk-accordion-menu {
  display: block;
  background-color: $color_nhsuk-white;
  color: $color_nhsuk-white;

  &__section {
    border-top: 1px solid $color_nhsuk-white;
    border-bottom: 1px solid $color_nhsuk-white;
    background-color: $color_nhsuk-white;
    padding: 0;

    &:first-of-type + &:not(:focus-visible) {
      border-top: 4px solid $color_nhsuk-dark-blue;
    }

    &:last-of-type + &:not(:focus-visible) {
      border-bottom: 4px solid $color_nhsuk-dark-blue;
    }

    &-summary {
      @include nhsuk-responsive-padding(2, 'top');
      @include nhsuk-responsive-padding(2, 'bottom');
      @include nhsuk-responsive-padding(4, 'left');
      @include nhsuk-responsive-padding(4, 'right');
      list-style: none !important;
      background-color: $color_nhsuk-dark-blue;
      outline: none;
      border-bottom: 4px solid transparent;
      border-top: 4px solid transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      &::-webkit-details-marker {
        display: none !important;
        list-style: none !important;
      }

      &::marker {
        display: none !important;
        list-style: none !important;
      }

      &::before {
        display: none !important;
        list-style: none !important;
      }
      &:hover {
        text-decoration: underline;
      }

      &:active,
      &:focus {
        background-color: $nhsuk-focus-color;
        color: $nhsuk-focus-text-color;
        border-bottom: 4px solid $color_nhsuk-black;
      }

      &:active > .nhsuk-accordion-menu__icon,
      &:focus > .nhsuk-accordion-menu__icon {
        & > path {
          stroke: $color_nhsuk-white;
        }
        & > circle {
          fill: $color_nhsuk-black;
        }
      }

      &-text {
        @include nhsuk-typography-responsive(22);
        display: block;
        position: relative;
      }
    }
  }

  &__subsection {
    @include nhsuk-responsive-margin(2, 'top');
    @include nhsuk-responsive-margin(2, 'bottom');
    @include nhsuk-responsive-margin(2, 'right');
    @include nhsuk-responsive-margin(2, 'left');

    display: block;
    cursor: pointer;

    &-link {
      @include nhsuk-typography-responsive(19);
      @include nhsuk-responsive-padding(3, 'right');
      @include nhsuk-responsive-padding(3, 'left');

      display: block;
      border-bottom: 3px solid transparent;
      border-top: 3px solid transparent;
      &:hover {
        color: $nhsuk-focus-text-color;
        background-color: $nhsuk-focus-color;
      }

      &:active {
        color: $nhsuk-focus-text-color;
        background-color: $nhsuk-focus-color;
        padding-bottom: 0px;
        border-bottom: 3px solid $color_nhsuk-black;
      }
    }
  }
}
